server {
    server_name calepin.co;

    location @calepin {
        uwsgi_pass unix:///tmp/uwsgi.calepin.sock;
        include uwsgi_params;
    }

    location / {
        root /web/calepin/public; // For robots.txt and favicon
        try_files $uri $uri/index.html @calepin;
    }

}

server {
    server_name *.calepin.co;
    
    if ( $host ~ "www.calepin.co" ) {
        rewrite ^(.*) http://calepin.co$1 permanent;
    }

    map $host $user {
        ~^(?P<subdomain>.+).calepin.co$    $subdomain;
    }

    // See if this user has a custom domain

    map $user $cname {
        // nileshashra migrantroo.com;
        include /web/calepin/nginx/username-cname.txt;
    }

    if ( $cname ) {
        // Forward from subdomain to custom domain
        rewrite ^(.*) http://$cname/$1 redirect; // 301
    }

    set $user_root /web/calepin/output/$user;

    if ( !-d $user_root ) {
        // User either does not exist, or has not published
        rewrite ^ http://calepin.co/ temporary; 
    }

    location / {
        alias $user_root;
        index index.html;
    }   
  
}

// Custom domains

server {
    server_name *;

    map $host $username {
        // migrantroo.com nileshashra;
        include /web/calepin/nginx/cname-username.txt;
    }

    if ( !$username ) {
        rewrite ^ http://calepin.co/ temporary; 
    }

    set $user_root /web/calepin/output/$username;

    if ( !-d $user_root ) {
        // User either does not exist, or has not published
        rewrite ^ http://calepin.co/ temporary; 
    }

    location / {
        alias $user_root;
        index index.html;
    }    
}
